.pagination {
    width: 100%;
    margin: 0.5rem auto;
  }
  .pagination nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: calc(.5rem + env(safe-area-inset-bottom));
  }
  .pagination a {
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .pagination a.active {
    color: #ccc;
    background-color: #ffffff10;
  }
  .pagination nav a {
      padding: 0.5rem;
      width: 48px;
      height: 48px;
      margin: 0.5rem;
  }

  #bottom-navigation {
    padding-bottom: calc(.5rem + env(safe-area-inset-bottom));
  }
