@tailwind base;

@supports (padding-top: constant(safe-area-inset-top)) {
  body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}

@media (display-mode: fullscreen) {
  body {
    padding: 0;
  }
}

@media (display-mode: standalone) {
  body {
    padding: 0;
  }
}

/* Older browsers (which don't support CSS variables) */
body {
  height: 100%;
}

/* Browsers which partially support CSS variables (iOS 11.0 – 11.2)*/
@supports (padding-top: constant(safe-area-inset-top)) {
  body {
    --safe-area-inset-top: constant(safe-area-inset-top);
    height: calc(100% + var(--safe-area-inset-top));
  }
}
/* Adapted from https://medium.com/@draganeror/iphone-x-layout-features-with-css-environment-variables-d57423433dec */
/* Browsers which fully support CSS variables (iOS 11.2+).*/
@supports (padding-top: env(safe-area-inset-top)) {
  body {
    --safe-area-inset-top: env(safe-area-inset-top);
    height: calc(100% + var(--safe-area-inset-top));
  }
}

@media (display-mode: fullscreen) {
  body {
    height: 100%;
  }
}

@media (display-mode: standalone) {
  body {
    height: 100%;
  }
}

section {
  @media (max-width: 568px) {
    max-width: 100vw;
  }
}
svg#Capa_1 {
  max-width: 48px;
  max-height: 48px;
}
.pagination {
  width: 100%;
  margin: 0.5rem auto;
}
.pagination nav {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}
.pagination a {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
}
.pagination a.active {
  color: #ccc;
  background-color: #ffffff10;
}
.pagination nav a {
  padding: 0;
  width: 48px;
  height: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-navigation {
  padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}

.search-button-icon {
  padding: 0;
  width: 48px;
  height: 48px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}
@tailwind components;

@tailwind utilities;
