body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: rgb(163, 18, 86);
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.layout {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  background-color: #5c7997;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #ffffff05;
  height: 100%;
  padding: .5rem 0;
  min-height: 100vh;
  border: none;
  @media (min-width: $breakpoint-tablet) {
    padding: .5rem;
  }
}

.header {
  background-color: #091a28;
  font-family: 'Encode Sans Expanded', sans-serif;
}
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 1rem;
}
.header-title a{
  color: white;
  font-size: 2rem;
}
.header-title h1{
  color: white;
  font-family: 'Encode Sans Expanded', sans-serif;
}
  .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a{
  color: white;
  font-size: 1rem;
}

footer.footer{
  background-color: #0000003d;
  color: #f5f5f5;
  font-size: 1.2rem;
}

.notation {
 background-color: #f5f5f5;
}

.pagination {
  border: 1px solid white;
  background-color: #444;
  width: 100%;
  margin: 0 auto;

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    a {
      color: white;
      margin: .5rem;
      padding: .5rem;
    }
  }
}
